@charset "UTF-8";
.loginRequestId, .loginRequestPw{
	padding: 15px;
	border: none;
	background-color: coral;
	border-radius: 10px;
	width: 50%;
	font-size: 13px;
	font-weight: 550; 
	height: 24px;
}
.loginDiv{
	margin-left: 25%;  
	margin-right: 25%;
}
.loginIcon{
	text-align: center;
}
.loginInput{
	text-align: center;
	margin-bottom: 15px;
}
.loginValidation{
	margin-left: 25%;
	font-size: 14px;
	color: red;
	margin-bottom: 16px;
	display: none;
} 
.login{
	width: 50%;
	border-radius: 10px;
	height: 24px;
	text-align: center;
	padding: 15px;
	background: gainsboro;
	border: none;
	cursor: pointer;
}
.login:hover {
	background: darkgray;
}
@media (max-width: 720px) {/*모바일*/
	.loginDiv{
		margin-left: 0%;   
		margin-right: 0%;
	}
	.loginRequestId, .loginRequestPw{
		width: 70%;
		height: 16px;
		font-size: 12px;
		color: #ffffff;
	}
	.loginInput{
		margin-bottom: 30px; 
	}
	.login{height: 15px; width: 70%; font-size: 12px; color: #000000} 
	.logoinlogin{height: 290px;}
}